/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body {
    text-align: center;
}
h1 {
    color: rgba(2,132,130,1);
}
h2 {
    color: #ffd700;
}
.board {
    height: 50%;
    width: 100%;
}
.card {
    height: 200px;
    width: 143px;
    border: 1px solid black;
    background-image: url(cardback.jpg);
    background-size: contain;
    border-radius: 10px;
    float: left;
    margin: 8%;
}
.name {
    color: #ff0000;
    font-weight: bold;
}
footer {
    margin: 0 auto;
    background: #808080;
    padding: 20px;
}
nav {
    background: #808080;
}
.navlink {
    background: #ffbf00;
    color: white;
    padding: 35px;
    display: block;
    float: left;
    text-decoration: none;
}
.navlink:hover {
    background: #ee5f3c;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
img {
    height: 200px;
    width: 150px;
    background-size: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 8%;
} 
#message {
    margin: 0 auto;
    clear: both;
    background-color: lightgrey;
    font-size: 20px;
    padding: 20px 0;
}